@import '../../../../assets/styles/fonts.scss';
@import "../../../../../node_modules/bootstrap-scss/functions";
@import "../../../../../node_modules/bootstrap-scss/variables";
@import "../../../../../node_modules/bootstrap-scss/mixins";

.categories {
    margin-bottom: 80px;

    .categories-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #f0f0f0;
        border-radius: 40px;
        padding: 70px 50px 40px;
    
        .categoy-card {
            height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right;
            border-radius: 20px;
            margin-bottom: 20px;
    
            &:nth-child(n + 2 of .categoy-card),
            &:nth-child(-n + 3 of .categoy-card) {
                width: 65%;
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }
            &:nth-child(1 of .categoy-card),
            &:nth-child(4 of .categoy-card) {
                width: 30%;
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }

            #category-name {
                font-family: $font-family-satoshi;
                font-weight: bold;
                font-size: 36px;
                position: absolute;
                left: 35px;
                top: 25px;
            }
        }
    }
}