.marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;

    .logos__wrapper {
        padding: 43px 0;
        // display: inline-block;
        animation: marquee 25s linear infinite;
    
        img {
            display: inline-block;
            width: 15%;
            height: 50px;
            object-fit: contain;
        }
    }

    @keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
}