// mixin for handling hover state for buttons
@mixin button($bg-color, $border-color, $color) {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 1px solid $border-color;
  
    &:hover {
      color: rgba($border-color, 1);
      transition: all 0.2s ease-in-out;
      background-color: $bg-color;
      border-color: $color;
    }
}